#mainContainer {
    margin-top: 50px;
}

/* Styling each club box */
.club-box {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.club-box:hover {
    background-color: #f9f9f9;
}

.club-image {
    max-height: 100px;
    width: auto;
}

.club-title {
    font-weight: bold;
    font-size: 1.25rem;
}

/* Hidden by default */
.club-details {
    display: none;
    margin-top: 15px;
}

#customNav {
    background-color: rgb(20, 168, 168);
}